
<!--<div class="navbar-brand">
    <a class="navbar-item">
        <img src="../assets\InLine_logo4.png" style="height:300px;width:300px;" class="main_logo">
    </a>
</div>
        
<app-list></app-list>
<app-add></app-add>
<ul>
    <li class='text' *ngFor="let user of users | async">
        {{user.username}}
        {{user.password}}
        {{user.phone}}
        {{user.tables}}
        {{user.company}}
        {{user.message}}

    </li>
</ul>-->

<h1>Base</h1>

<div *ngIf="auth.user$ | async as user; else login">
    {{user | json}}
    <hr>
    <button class="button" (click)= "auth.signOut()">Sign Out</button>
</div>

<ng-template #login>
    <button class="button" (click) = "auth.googleSignin()">Login with Google</button>
</ng-template>

<router-outlet></router-outlet>
<!--<app-user-profile></app-user-profile>-->